body {
  padding: 1em;
}

h1 {
  margin: 0;
  margin-bottom: 1em;

  font-size: 60px;

  font-family: 'Shojumaru', cursive;
  // font-family: 'Eater', cursive;
  // font-family: 'Caesar Dressing', cursive;
  // font-family: 'Butcherman', cursive;
  // font-family: 'Ultra', serif;
}

body {
  font-family: 'Lato', sans-serif;
}